{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- title -->
	<title>Shop</title>

	<!-- favicon -->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png'%}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{%static 'css/all.min.css'%}">
	
	
	<!-- owl carousel -->
	<!-- <link rel="stylesheet" href="{%static 'css/owl.carousel.css'%}"> -->
	<!-- magnific popup -->
	<link rel="stylesheet" href="{%static 'css/magnific-popup.css'%}">
	<!-- animate css -->
	<link rel="stylesheet" href="{%static 'css/animate.css'%}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{%static 'css/meanmenu.min.css'%}">
	<!-- main style -->
	<link rel="stylesheet" href="{%static 'css/main.css'%}">
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- responsive -->
	<link rel="stylesheet" href="{%static 'css/responsive.css'%}">
	<link rel="stylesheet" href="{%static 'css/ionicons.min.css'%}">
	
<link href="{% static 'fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="{%static 'css/cropper.css'%}" >
<style>
	a{
		text-decoration: none !important;
	}
        * {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 50px;
  height: 50px;
}

.img-zoom-result {
  
  /*set the size of the result div:*/
  width: 500px;
  height: 500px;
}

    </style>
    

</head>
<body>
	
<!-- 	
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> -->
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="">
								<img src="{% static 'img/logo.png'%}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{%url 'uhome'%}">Home</a></li>
								{%if 'cusid' in request.session %}
								
								
								<li><a type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">logout </a>
															  </li>
								<li><a href="{%url 'profile'%}">profile</a></li>
								
									<li><a href="{%url 'cart' %}">cart</a></li>	
									<li><a href="{%url 'user_address' %}">address</a></li>	
									<li><a href="">Categories</a>
										<ul class="sub-menu">
											<li>{% for category in links %}
												<a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }} </a>
											  {% endfor %}
											</li>
											<li><a class="dropdown-item" href="{%url 'uhome'%}">All</a></li>
											
										</ul>
									</li>
								
									{%else%}
								<li><a type="button"  data-bs-toggle="modal" data-bs-target="#loginModal">
									Login
								</a>
								</li>
								<li><a href="{%url 'user_address' %}">address</a></li>	

								<!-- Button trigger modal -->
  
  <!-- Modal -->
  										
										

								
								
									<li><a href="{%url 'cart' %}">cart</a></li>
								
								{%endif%}
								
							
								
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	{%block t%}
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
{%block c %}
	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<header class="border-bottom mb-4 pb-3">
				<div class="form-inline">
					<span class="mr-md-auto"><b>{{ product_count }}</b> items found </span>
		
				</div>
		</header>
		<div class="row">
			<div class="col-8  my-5">

			</div>
			<div class="col-4">
				<form action="" method="get">
					{{myFilter.form}}
					<button class="btn btn-primary" type="submit">Search</button>
				</form>

			</div>		
		
	</div>
<!-- 
	<div class="row">
		{%if products%}
			
                {%for i in products%}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="{{i.img.url}}" alt="Colorlib Template">
    						<span class="status">30%</span>
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">i.name</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
									{%if i.offer != "None" %}
						
						<p class="price"><span class="mr-2 price-dc">Rs {{i.offer}}</span><span class="price-sale">Rs {{i.price}}</span></p>
						{%else%}
							
						<p class="price"><span class="price-sale">Rs {{i.price}}</span></p>
						{%endif%}

		    				
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    							<a href="{% url 'detail' i.pk %}" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="{% url 'wish_cart' i.id %}" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
				{%endfor%}
				{% else %}
				<div>
					<h2>No result found. Please try again.</h2>
				</div>
				{% endif %} -->
    		

		<div class="row">
			<div class="col-2">
		
		



<div class="card">
	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Categories</h6>
		</header>
		<div class="filter-content">
			<div class="card-body">
			<form>
				<label class="form-check">
				
					<a href="{%url 'uhome'%}">All</a>
				</label> 
				{%for category in links%}
				<label class="form-check">
					<a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }} </a>
				</label>
				{%endfor%}
				 <!-- form-check.// -->
			</form>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
	
	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">price filter </h6>
		</header>
		<div class="filter-content">
			<div class="card-body">
			<label class="form-check">
				
				<a href="{%url 'filt' 500 %}">below 500</a>
		
				
			 
			</label>
			<label class="form-check">
				<a href="{%url 'filt' 400 %}">below 400</a>
			
			
			  
			</label>
			<label class="form-check">
				<a href="{%url 'filt' 300 %}">below300</a>
			  
			</label>
			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
</div> 
		
		</div>
		<div class="col-9">
			<div class="row ">		
	
			
				{%if products%}
				
					{%for i in products%}
					<div class="col-lg-4 col-md-4 text-center strawberry">
						<div class="single-product-item">
							<div class="product-image">
								<a href=""><img src="{{i.img.url}}" style="width:200px;height:200px;" alt=""></a>
							</div>
							<h3>{{i.name}}</h3>
							{%if i.offer != "None" and i.o_percentage != 0 %}
							<p class="product-price"><span>Per Kg</span><s> {{i.offer}}</s> {{i.price}}  </p>
							<p>{{i.o_percentage}}%<span>off</span></p>
							
							{%else%}
							<p></p>
							<p class="product-price"><span>Per Kg</span> {{i.price}}</p>
							{%endif%}
	
							<a href="{% url 'detail' i.pk %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> view</a>
							<a href="{% url 'wish_cart' i.id %}" class="cart-btn my-2"><i class="fas fa-shopping-cart"></i> Add to wishlist</a>
							</div>
					</div>
					{%endfor%}
					{%else%}
					<div>
						<h2>No result found. Please try again.</h2>
					</div>
					{% endif %}
		
	
					
			
	
			</div>
	
		</div></div>
				<div class="d-flex justify-content-center">
		<nav class="mt-4" aria-label="Page navigation sample">
	{% if products.has_other_pages %}
	  <ul class="pagination">
			{% if products.has_previous %}
	    <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
			{% else %}
			<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
			{% endif %}

			{% for i in products.paginator.page_range %}
				{% if products.number == i %}
	    		<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
				{% endif %}
	    {% endfor %}

			{% if products.has_next %}
	    	<li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
			{% endif %}
	  </ul>
	{% endif %}
</nav>
</div>


	</div>
	
	
	<!-- end products -->
	{%endblock%}
	{%endblock%}
	{%block f%}
	
	<section class="cart-banner pt-100 pb-100 " style="margin-top:150px;">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> off per kg
                                </span>
                            </div>
                        </div>
                    	<img src="{{banner.image.url}}" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Deal</span> of the month</h3>
                    <h4>{{banner.title}}</h4>
                    <div class="text">{{banner.desc}}</div>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	
                </div>
            </div>
        </div>
    </section>
	
	{%endblock%}

	<!-- logo carousel -->
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>7685734857893495834.</li>
							<li>support@project1fruity.com</li>
							<li>8590124080</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2022 - project1,  All Rights Reserved.<br>
						Distributed By - django
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">logout</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			
			<div class="modal-body">
			  Are you sure you want to logout??
			</div>
			<div class="modal-footer">
			  
			<a href="{%url 'uhome'%}"><button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button></a>
			<a href="{%url 'lo'%}"><button type="button" class="btn btn-primary">logout</button></a> 
  
			</div>
		  </div>
		</div>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	  </div>
	  {%include 'userlog.html'%}

	  {%for i in messages%}
	

	<script>
		
		var k="{{i}}"
		swal("incorrect info",k,"info")
		

	</script>
	<script>
		
		var i="{{i}}"
		swal("denied ",i,"error")
		

	</script>


	
	
	{%endfor%}
	  
	

	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{%static 'js/jquery-1.11.3.min.js'%}"></script>
	<!-- bootstrap -->

	<!-- count down -->
	<script src="{%static 'js/jquery.countdown.js'%}"></script>

	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- isotope -->
	<script src="{%static 'js/jquery.isotope-3.0.6.min.js'%}"></script>
	<!-- waypoints -->
	<script src="{%static 'js/waypoints.js'%}"></script>
	<!-- owl carousel -->
	<script src="{%static 'js/owl.carousel.min.js'%}"></script>
	<!-- magnific popup -->
	<script src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
	<!-- mean menu -->
	<script src="{%static 'js/jquery.meanmenu.min.js'%}"></script>
	<!-- sticker js -->
	<script src="{%static 'js/sticker.js'%}"></script>
	<!-- main js -->
	<script src="{%static 'js/main.js'%}"></script>

</body>
</html>