
{%extends 'admhome.html'%}

{%block content%}
{%load sweetify%}
{%sweetify%}

    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#pofferModal">Add product offer</a>

    <a href="" class="btn btn-success" data-toggle="modal" data-target="#cofferModal">Add category offer</a>

<div class="container m-5">

  <div class="row">
    <div class="col-6">
      {%if poffer  %}
      <table class="table">
      <tr>
        <th>productname</th>
        <th>startdate</th>
        <th>enddate</th>
        <th>percentage</th>
        
      </tr>
      {%for i in poffer%}
      <tr>
        <td>{{i.productname}}</td>
        <td>{{i.valid_from}}</td>
        <td> {{i.valid_to}}</td>
        <td>  {{i.percentage}}</td>
        <td> <a href="{%url 'delpoffer' i.id%}" class="btn btn-primary">delete</a></td>
      
    
      
    </tr>
      {%endfor%}
    </table>
      {%endif%}
  
     

    </div>
    <div class="col-6">
      {%if coffer  %}
      <table class="table">
      <tr>
        <th>categoryname</th>
        <th>startdate</th>
        <th>enddate</th>
        <th>percentage</th>
        
      </tr>
      {%for i in coffer%}
      <tr>
        <td>{{i.categoryname}}</td>
        <td>{{i.valid_from}}</td>
        <td> {{i.valid_to}}</td>
        <td>  {{i.percentage}}</td>
        <td> <a href="{%url 'delcoffer' i.id%}" class="btn btn-primary">delete</a></td>
      
    
      
    </tr>
      {%endfor%}
    </table>
      {%endif%}
  
     
    </div>
  </div>
</div>
   

    <div class="modal fade" id="cofferModal" tabindex="-1" aria-labelledby="cofferModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cofferModalLabel">category offer</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">*</button>
            </div>
    
            <form action="{%url 'coffer'%}" method="post">
              {%csrf_token%}
    
              <div class="form-group">
                <label for="">categoryname</label>
                <select name="coffer" id="">
                    {%for i in product%}
                    <option value="{{i.cate_id.category_name}}">{{i.cate_id.category_name}}</option>
                    {%endfor%}
                </select>
               
              </div>
              <div class="form-group">
                <label for="">start date</label>
                <input   name="start" placeholder="start" >
               
              </div>
              <div class="form-group">
                <label for="">End date</label>
                <input  name="end"placeholder="end"  >
               
              </div>
              <div class="form-group">
                <label for="">percentage</label>
                <input name="per" placeholder="discount" >
               
              </div>
             
              
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
           
           
    
      
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div>


      <!-- product offer -->
    

    <div class="modal fade" id="pofferModal" tabindex="-1" aria-labelledby="pofferModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pofferModalLabel">Add offer</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">*</button>
            </div>
    
            <form action="{%url 'productoffers'%}" method="post">
              {%csrf_token%}
    
              <div class="form-group">
                <label for="">productname</label>
                <select name="offer" id="">
                    {%for i in product%}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {%endfor%}
                </select>
               
              </div>
              <div class="form-group">
                <label for="">start date</label>
                <input   name="start" placeholder="start" >
               
              </div>
              <div class="form-group">
                <label for="">End date</label>
                <input  name="end"placeholder="end"  >
               
              </div>
              <div class="form-group">
                <label for="">percentage</label>
                <input name="per" placeholder="discount" >
               
              </div>
             
              
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
           
           
    
      
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div>
{%for i in messages%}
<div class="alert alert_warnig">{{i}}</div>
{%endfor%}

      {%endblock%}
    
